#### Contents
    01. Notebook Set-Up
    02. Course Task

## Set-Up

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# File pathway

path = r'/Users/Owner/Documents/Data Analytics/4 Python/08-2022 Instacart Basket Analysis'

## Task

In [3]:
# 3. Import data set

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# 4. Check the shape of the imported dataframe

df_ords_prods_combined.shape

(32434489, 11)

In [5]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

#### Same shape as the exported version

In [6]:
# Data Wrangle

df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [7]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.
# Importing products data set

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Data wrangle

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
# Merging data sets

df_combined = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [11]:
# 6. Confirm results

df_combined.shape

(32404859, 15)

In [12]:
df_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#### Lost 29,630 orders_products_combined rows

In [13]:
# 7. Export

df_combined.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))